<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>263898285445-nlbqv627sf4fe6c3a4gpbqio6knn4c3f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.263898285445-nlbqv627sf4fe6c3a4gpbqio6knn4c3f</string>
	<key>API_KEY</key>
	<string>AIzaSyCAfiuq6RdwiUDR9ukG2i-_Dt7Lh5jayfk</string>
	<key>GCM_SENDER_ID</key>
	<string>263898285445</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.VehicleTracker</string>
	<key>PROJECT_ID</key>
	<string>vehicletracker-15ccd</string>
	<key>STORAGE_BUCKET</key>
	<string>vehicletracker-15ccd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:263898285445:ios:e556ff9fcbe61b9b</string>
	<key>DATABASE_URL</key>
	<string>https://vehicletracker-15ccd.firebaseio.com</string>
</dict>
</plist>